@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.formContainer {
  margin-top: 3rem;
}
/* ----------------------------------------nav------------------------------------------ */
.nav-footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, grey, black);
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background: #d4d4d4;
  padding: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav a:hover {
  background: #fff;
  cursor: pointer;
}

.selected {
  background: #fff;
}
/* --------------------------------------heading---------------------------------- */

header h1,
header h2 {
  text-align: center;
}

header h1 {
  margin-top: 1rem;
}

header {
  margin-bottom: 3rem;
}

/* --------------------------------------------------------show-case------------------- */

.showcase-img {
  min-width: 250px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.imgs {
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  margin-top: 1rem;
  min-width: 250px;
  max-width: 600px;
  width: 70%;
}
main h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

main h4 {
  margin: 1rem 0;
}

input[type="text"] {
  width: 100%;
}

input[type="submit"] {
  margin-top: 2rem;
  width: 20%;
}
label {
  width: 100%;
  margin: 1rem 0;
}
/* ---------------------------------------------footer---------------------------- */

footer {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* ---------------------------------------media--------------------------- */

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  nav a {
    padding: 0.5rem;
  }
}
